*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
scroll-behavior:smooth;
}

.top-bar{
background:#023e8a;
color:white;
text-align:center;
padding:8px;
font-size:14px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#0077b6;
color:white;
position:sticky;
top:0;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.login-btn{
background:white;
color:#0077b6;
padding:5px 12px;
border-radius:5px;
}

.hero{
height:90vh;
background:url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3") no-repeat center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero button{
padding:10px 20px;
border:none;
background:#00b4d8;
color:white;
margin-top:15px;
cursor:pointer;
}

.section{
padding:80px 50px;
text-align:center;
}

.dark{
background:#f1f9ff;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-top:20px;
}

.grid div{
background:#0077b6;
color:white;
padding:20px;
border-radius:10px;
}

.portfolio-grid{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.portfolio-grid img{
width:250px;
height:200px;
border-radius:10px;
}

footer{
background:#023e8a;
color:white;
text-align:center;
padding:20px;
}

.footer-links a{
color:white;
margin:10px;
text-decoration:none;
}
